:root {
  /* light theme color */
  --light-background: #fff;
  --light-background-secondary: #eaeaea;
  --light-color: #222;
  --light-color-secondary: #999;
  --light-border-color: #dcdcdc;

  /* dark theme colors */
  --dark-background: #292a2d;
  --dark-background-secondary: #3b3d42;
  --dark-color: #a9a9b3;
  --dark-color-secondary: #73747b;
  --dark-border-color: #4a4b50;

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 768px);
  --tabletWidth: (max-width: 1024px);
}

@custom-media --phone (width < 768px);
@custom-media --tablet (width < 1024px);

body.light {
  --bg: #fff;
  --text: #222;
  --text-900: #1a202c;
  --text-800: #2d3748;
  --text-700: #4a5568;
  --text-600: #718096;
  --highlight: #020411;
  --progress-container: #eee;
  --progress-line: #333;

  background-color: var(--bg);
  color:  var(--text);
}

body.dark {
  --bg: #191919;
  --text: #fff;
  --text-900: #fff;
  --text-800: #fff;
  --text-700: #ccc;
  --text-600: #fff;
  --highlight: #fff;
  --progress-container: #333;
  --progress-line: #fff;

  background-color: var(--bg);
  color:  var(--text);
}